version: '3.7'

services:
  jupyter:
    build:
      context: .
    volumes:
      - .:/app/
    ports:
      - '8888:8888'
    command: 'jupyter notebook --port 8888 --no-browser --notebook-dir=/app --ip 0.0.0.0 --allow-root'
